
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>e-Beauty Expert</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/elogo.PNG}"  />
        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link th:href="@{/vendor/animate.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/aos.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/vendor/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/remixicon.css}" rel="stylesheet">
        <link th:href="@{/vendor/swiper-bundle.min.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/css/user_main.css}" rel="stylesheet">
        <link th:href="@{/css/expert_main.css}" rel="stylesheet">


    </head>

<body>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="registration-form">
          <form>
                       
              <div class="form-group">
                  <input type="text" class="form-control item" id="consult-title" placeholder="Title">
              </div>
              <div class="form-group">
                <select class="form-control item" name="category" id="category">
                   <option value="dress">Choose a category</option>
                   <option value="dress">Dressing</option>
                   <option value="hair">Hair Style</option>
                   <option value="makeup">Makeup</option>
                   <option value="skin">Skin Care</option>
               </select>
               </div>
              <div class="form-group">
                <h6 class="mb-0">Start Date</h6>
                  <input type="date" class="form-control item" id="consult-stdate" >
              </div>
              <div class="form-group">
                <h6 class="mb-0">End Date</h6>
                  <input type="date" class="form-control item" id="consult-endate">
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                    <span>From <input type="time" class="form-control item" id="consult-time"></span>
                </div>
                <div class="col-sm-3">
                    <span>Until <input type="time" class="form-control item" id="consult-time"></span>
                </div>
                </div>
              <div class="form-group">
                <textarea class="form-control item" id="consult-desc" rows="3" placeholder="Description"></textarea>
              </div>


              <div class="form-group form-control item" >
                  <label for="lresume">Upload Picture</label> 
                   <input  type="file" id="pic_consulting" >
              </div>
              </div>
              
          </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-pic-u">Save</button>
      </div>
    </div>
  </div>
</div>
</div>

                   
 <!--end of modal-->
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a>e-Beauty</a></h1>
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a th:href="@{/expert_profile_free}">My Profile</a></li>
            <li><a class="active"  th:href="@{/expert_consultings_free}">My consultings</a></li>
            
             <li><a><form th:action="@{/logout}" method="post"> 
        	<input type="submit" value="Log Out" /> 
		</form></a></li> 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-color: blueviolet;">
      <div class="container">
        <h2>Expert's Area</h2>
      
        
      </div>
    </div><!-- End Breadcrumbs -->



    <div class=" u-cons col-lg-12">
      <div class="uc1">
        <h4>Upcoming Consultings</h4>
        <hr>
        
                <ul>
          <li class="d-flex align-items-center"><img th:src="@{/img/calendar.png}"> &nbsp;&nbsp;Wedding Makeup&nbsp;&nbsp;
            <img th:src="@{/img/file-earmark-person.svg}">&nbsp;&nbsp;Mary Kym&nbsp;&nbsp;
            <img th:src="@{/img/clock.svg}">&nbsp;&nbsp;05-Aug-2021 9:00am&nbsp;&nbsp;
            <img th:src="@{/img/bookmark-check.svg}">&nbsp;&nbsp;<strong>Confirmed</strong>
          </li>
        </ul>
        <div class="row">
   
          <div class="join-btn ">
            <a href="#"><p>Join Session</p></a>
          </div>
          </div>

          <hr>
          <ul>
            <li class="d-flex align-items-center"><img th:src="@{/img/calendar.png}">&nbsp;&nbsp;Wedding Makeup&nbsp;&nbsp;
              <img th:src="@{/img/file-earmark-person.svg}">&nbsp;&nbsp;Mara Silva&nbsp;&nbsp;
              <img th:src="@{/img/clock.svg}">&nbsp;&nbsp;06-Aug-2021 9:00am&nbsp;&nbsp;
               <img th:src="@{/img/bookmark-check.svg}">&nbsp;&nbsp;<strong>Confirmed</strong>
            </li>
          </ul>
          <div class="row">
     
            <div class="join-btn ">
              <a href="#"><p>Join Session</p></a>
            </div>
            </div>
        
      </div>

      <div class="uc2">
        <h4>Pending Aprovals</h4>
        <hr>
        
        <ul>
          <li class="d-flex align-items-center"><img th:src="@{/img/calendar.png}"> &nbsp;&nbsp;Wedding Makeup&nbsp;&nbsp;
            <img th:src="@{/img/file-earmark-person.svg}">&nbsp;&nbsp;Lana Rios&nbsp;&nbsp;
            <img th:src="@{/img/clock.svg}">&nbsp;&nbsp;06-Aug-2021 10:00 am&nbsp;&nbsp;
            <img th:src="@{/img/bookmark-check.svg}">&nbsp;&nbsp;<strong>Pending</strong>
          </li>
        </ul>
        <div class="row">
            <div class="join-btn">
              <a href="#"><p>Approve</p></a>
            </div>
            <div class="cons-btn ">
              <a href="#"><p>Reschedule</p></a>
            </div>
            <div class="cons-btn ">
                <a href="#"><p>Cancel</p></a>
            </div>
          </div>

          <hr>
          <ul>
            <li class="d-flex align-items-center"><img th:src="@{/img/calendar.png}"> &nbsp;&nbsp;Wedding Makeup&nbsp;&nbsp;
              <img th:src="@{/img/file-earmark-person.svg}">&nbsp;&nbsp;Kelly Lee&nbsp;&nbsp;
              <img th:src="@{/img/clock.svg}">&nbsp;&nbsp;07-Aug-2021 18:00pm&nbsp;&nbsp;
              <img th:src="@{/img/bookmark-check.svg}">&nbsp;&nbsp;<strong>Pending</strong>
            </li>
          </ul>
        <div class="row">
            <div class="join-btn">
              <a href="#"><p>Approve</p></a>
            </div>
            <div class="cons-btn ">
              <a href="#"><p>Reschedule</p></a>
            </div>
            <div class="cons-btn ">
                <a href="#"><p>Cancel</p></a>
            </div>
          </div>


      </div>
    </div>
   

    <div class="container uc1 " style="margin-left:100px">
 

            <div class="d-flex justify-content-between align-items-center mt-3">
              <ul class="nav nav-tabs w-75">
                <li class="nav-item"> <a class="nav-link " th:href="@{/expert_consulting_free}">Active Offers</a> </li>
                <li class="nav-item"> <a class="nav-link active" th:href="@{/expert_history_free}">Past Offers</a> </li>
                <li class="nav-item"> <a class="nav-link " th:href="@{/expert_earning_free}">Earnings</a> </li>
                <li class="nav-item"> <a class="nav-link " th:href="@{/expert_review_free}">Reviews</a> </li>
              </ul> 
          </div>
          <div class="table-responsive mt-3">
              <table class="table table-borderless">
                  <thead>
                      <tr>
                          <th scope="col">Consulting</th>
                          <th scope="col">From</th>
                          <th scope="col">Until</th>
                          <th scope="col">Time Frame</th>
                          <th scope="col">Manage</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td scope="row"> <span class="fa fa-briefcase mr-1"></span> 
                            <a class="nav-link " th:href="@{/expert_review_free}" title="Click to Edit" data-bs-toggle="modal" data-bs-target="#editModal"> Face Massage </a></td>
                          <td>01/Jun/21</td>
                          <td>30/Jun/21</td>
                          <td>9:00 am - 12:00 pm  </td>
                          <td > 
                            <div class="join-btn" style="margin-left:0;">
                            <a href="#"><p>Reactivate</p></a></div>
                            
                          </td>
                      </tr>
                      <tr>
                        <td scope="row"> <span class="fa fa-briefcase mr-1"></span> 
                          <a class="nav-link " th:href="@{/expert_review_free}" title="Click to Edit" data-bs-toggle="modal" data-bs-target="#editModal"> Makeup Starter</a></td>
                          <td>01/Jun/21</td>
                          <td>30/Jun/21</td>
                          <td>13:00 pm - 18:00 pm  </td>
                          <td > 
                            <div class="join-btn" style="margin-left:0;">
                            <a href="#"><p>Reactivate</p></a></div>
                          </td>
                    </tr>
                    <tr>
                      <td scope="row"> <span class="fa fa-briefcase mr-1"></span> 
                        <a class="nav-link " th:href="@{/expert_review_free}" title="Click to Edit" data-bs-toggle="modal" data-bs-target="#editModal"> Which Makeup to Buy</a></td>
                        <td>01/July/21</td>
                        <td>20/July/21</td>
                        <td>19:00 pm - 22:00 pm  </td>
                        <td > 
                          <div class="join-btn" style="margin-left:0;">
                          <a href="#"><p>Reactivate</p></a></div>
                        </td>
                  </tr>

                  </tbody>
              </table>
          </div>
          <div class="d-flex justify-content-between align-items-center results"> 
              <div class="pt-3">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          <li class="page-item disabled"> <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&lt;</span> </a> </li>
                          <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&gt;</span> </a> </li>
                      </ul>
                  </nav>
              </div>
              <button type="button" class="btn btn-primary btn-pic-u" data-bs-toggle="modal" data-bs-target="#editModal">Add New</button>
          </div>

          
      </div>


</div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

        <div class="footer1">
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><img th:src="@{/img/chevronright.png}"> <a th:href="@{/contact_ef}">Contact</a></li>
              <li><img th:src="@{/img/chevronright.png}"><a th:href="@{/terms}" target="_blank">Terms of service</a></li>
              </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Receive tutorials and updates weekly!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
    

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>eBeauty</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><img th:src="@{/img/facebook.png}"></a>
        <a href="#" class="instagram"><img th:src="@{/img/instalogo.png}"></a>
        <a href="#" class="linkedin"><img th:src="@{/img/linkedinlogo.png}"></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><img th:src="@{/img/arrow.png}"></a>

  <!-- Vendor JS Files -->
    <script th:src="@{/js/aos.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/validate.js}"></script>
  <script th:src="@{/js/purecounter.js}"></script>
  <script th:src="@{/js/swiper-bundle.min.js}"></script>

  <!-- Template JS File -->
  <script th:src="@{/js/script_user.js}"></script>
  
  

</body>

</html>