
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>e-Beauty Expert Online Consulting</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/elogo.PNG}" />
        <!-- Favicons -->
        <link th:href="@{/img/favicon.png}" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link th:href="@{/vendor/animate.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/aos.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/vendor/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/remixicon.css}" rel="stylesheet">
        <link th:href="@{/vendor/swiper-bundle.min.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/css/user_main.css}" rel="stylesheet">
        <link th:href="@{/css/expert_main.css}" rel="stylesheet">
    </head>

<body>

    <!-- Modal -->
<div class="modal fade" id="tut1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-tutorial-detail">
        <article class="entry">

            <div class="entry-img">
              <img th:src="@{/img/mascara_lashes.jpeg}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              23 Mascaras We Love for Lash Length and Volume
            </h2>

            <div class="entry-content">
              <p>
                  When it comes to choosing the best mascara for your lashes, there are many different factors to keep in mind: 
                  Will the mascara formula or bristles irritate sensitive eyes, smudge, flake, or clump? Is the mascara volumizing, 
                  does it lengthen, or claim to do both? Is it waterproof? There are a ton of options out there that claim to volumize 
                  and create the look of falsies sans fake lashes, but the best mascara will add length and volume without sacrificing your lashes’ health.
                </p>
                <p>
                    We’ve written about many different types of mascara over the years, from ones we’ve rigorously tested for our Healthy Beauty Awards to recommendations we’ve sourced from professional makeup artists and beauty editors. Since we know that finding the perfect mascara can be a real headache, let us help you skip the trip to the drugstore to agonize over racks of products.

                </p>
                  <p>
                    There are many great buildable, thickening mascaras available at online retailers like Amazon, Sephora, Target, and Nordstrom from drugstore brands like Maybelline and L’Oréal Paris to luxury brands like Dior and Gucci. Below, we’ve gathered some of the best mascaras that professionals and editors always keep on hand for an easy lash lift.
         
                  </p>
   
   
            </div>

             </article>
            </div>
             <!-- End blog entry -->


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-pic-u">Inactivate</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="tut2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-tutorial-detail">
            <article class="entry">

                <div class="entry-img">
                  <img th:src="@{/img/base-makeup.jpg}" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  14 Best Base Makeup Products for Your Brightest Complexion
                </h2>
  
                <div class="entry-content">
                  <p>
                      Whether you’re glamming up for a quick Zoom or to actually venture back out into the world, it all starts with finding the best full-coverage makeup products for your skin. These are the products you’ll rely on to freshen up dull skin, blur and mask hyperpigmentation, and prep for creative makeup looks—without exacerbating acne, dryness, or sensitivity.
                  </p>
                  <p>
                    To test the best full-coverage makeup products this year, we recruited 65 testers with a range of skin tones, skin types, and skin conditions. SELF also consulted with a panel of four top dermatologists to get their guidance on what ingredients and products will be most likely to work for you, based on your preferences and unique skin situation. 
                  </p>
                  <p>What to Look for When Choosing Base Makeup Products</p>
                  <p>
                    
                    The right full-coverage makeup products for your skin depend on your goals with makeup (are you going all out or for a minimalist no-makeup vibe?) and your skin type. If your skin tends to be dry, it’s important to look for products that contain hydrating and moisturizing ingredients, such as hyaluronic acid, dimethicone, and certain oils. These products tend to have creamier textures.
                  </p>
                  <p>Those with oily or acne-prone skin will want to opt for products with lighter formulas, like lightweight liquids and powder products. They might find that heavier products with more moisturizing ingredients feel heavy or greasy on their skin and may even contribute to acne.</p>

                </div>
  
              </article>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-pic-u">Inactivate</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    <!-- Modal -->

        <!-- Modal -->
        <div class="modal fade" id="newTutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">New Tutorial</h5>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title</label>
                        <input type="text" class="form-control" id="title-tutorial">
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Category</h6>
                        </div>
                        
                        <div class="col-sm-9 text-secondary">
                            <select>
                                <option>Dressing Advisory</option>
                                <option>Hair Style</option>
                                <option>Makeup</option>
                                <option>Skin Care</option>
                            </select>
                        </div>
                      </div>
                      <br>
                      <div class="form-group">
                        <h6 class="mb-0">Content</h6>
                        
                        <textarea class="form-control" rows="10"  id="tutorial-text"></textarea>
                      </div>
                      <br>
                      <div class="form-group">
                        <h6 class="mb-0">Picture</h6>
                      <button class="btn btn-primary btn-pic-u">Update Picture</button>
                      <button class="btn btn-outline-primary btn-pic-r">Remove Picture</button>
                      </div>
                    </form>
                  </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-secondary " data-dismiss="modal">Save as Draft</button>
                  <button type="button" class="btn btn-primary btn-pic-u">Publish</button>
                </div>
              </div>
            </div>
          </div>
        <!-- Modal -->

        <!-- Modal -->
        <div class="modal fade" id="draftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-tutorial-detail">
        
                    <article class="entry">
                        <div class="entry-img">
                          <img th:src="@{/img/draft-tut.jpg}" alt="" class="img-fluid">
                        </div>
          
                        <h2 class="entry-title">
                            The Ultimate Step-By-Step Tutorial for Perfect Face Makeup Application
                        </h2>
          
                        <div class="entry-content">
                          <p>
                            Makeup application can be a complicated business, as we all follow our own set of rules and protocol when it comes to putting our faces on. Sometimes we get so stuck in our routine, we forget to stop and reflect on it. Do you ever wonder if you’re actually going about your makeup application correctly? We certainly do, so we asked makeup guru Alana Dawn to take us through the process, from start to flawless finish. Follow these seven basic steps for flawless makeup every time. Get ready for Makeup 101 — class is now in session!
                        <br>
                        STEP 1:Start with a clean slate. Make sure your face is fresh and moisturized before putting any product on it. Then, apply primer with your fingers to ensure your makeup lasts all day.
                        <br>
                        STEP 2:Using a duo fiber brush (the kind with white tips!), apply foundation all over the skin and blend it onto the neck. We love Giorgio Armani Luminous Silk Foundation for this.
                        <br>
                        STEP 3: Apply concealer below your eyes in the shape of a triangle. This technique ensures natural-looking coverage, brightens up your face and draws attention to your eyes. 
                        </p>
                        </div>
                      </article>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-secondary " data-dismiss="modal">Delete</button>
                  <button type="button" class="btn btn-primary btn-pic-u">Publish</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        <!-- Modal -->
        <!-- Modal -->
        <div class="modal fade" id="inactive1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-tutorial-detail">
        
                    <article class="entry">
                        <div class="entry-img">
                          <img th:src="@{/img/fileAsset.jfif}" alt="" class="img-fluid">
                        </div>
          
                        <h2 class="entry-title">
                            How to Apply Makeup like a Pro
                        </h2>
          
                        <div class="entry-content">
                          <p>

                            Have you ever found yourself shopping for new beauty products and feeling totally confused over why there were so many options? Do you really need to contour and apply bronzer? What’s the difference between an eyebrow pencil and eyebrow gel? After a while, the items in your shopping cart can start to seem redundant. The good news? You’re not alone. Whether you’ve never created a contoured beauty look or you love trying all the latest trends, we’ve got you covered.
                            <br>
                            Primer: Primers come in gels, creams, and even sprays. They create an even canvas for your makeup application by filling in fine lines and large pores. The result? Your makeup glides on evenly, lasts longer, and doesn’t look cakey. Be sure to check out our guide to primer for more pointers on picking a primer that’s right for your skin tone. 
                            <br>
                            Foundation: Foundation evens out your complexion, smooths over imperfections, and comes in three forms: liquid, cream, or powder. While there are a variety of types available, the most important thing to consider is the coverage level you’re hoping to achieve. If you want to take a more natural approach, opt for lighter coverage. It creates a thin veil and smooths over your complexion. If you have freckles, for example, you’ll still be able to see them with a light coverage foundation on your face. If you want a more airbrushed look, a heavier, full-coverage foundation is your best bet. These types of foundations are thicker in consistency and can cover up blemishes, hyperpigmentation, and even acne scars. Unsure which formula is right for you? Check out our breakdown of powder and liquid foundation. 
                            <br>
                            Setting or Finishing Powder: In order to get the most mileage from your makeup and have your glam face last all day, you should set it. While setting powder sets your makeup and locks it in place, finishing powder smooths fine lines and blurs pores, creating an airbrushed finish. While some think you can opt out of using a setting powder if you want a more dewey glow, it should always be a non-negotiable step in your makeup routine.  “It’s a step I never skip, even if the client wants a glowing look,” says Sesnek. Just powder select areas (like your T-zone and under your eyes) and leave others dewy (like your cheeks). If you’re unsure which powder is right for you, check out this refresher on setting vs. finishing powder. 
                         </p>
                        </div>
                      </article>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary btn-pic-u">Reactivate</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        <!-- Modal -->
        <!-- Modal -->
        <div class="modal fade" id="inactive2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-tutorial-detail">
        
                    <article class="entry">
                        <div class="entry-img">
                          <img th:src="@{/img/foundations.png}" alt="" class="img-fluid">
                        </div>
          
                        <h2 class="entry-title">
                            17 Best Foundations for Mature Skin
                        </h2>
          
                        <div class="entry-content">
                          <p>
                            Your skin changes as you get older, and so should your foundation. While you may have battled acne or oily skin in your 20s, you're more likely to be dealing with dark spots, wrinkles and fine lines in your 50s, 60s, and over.
                            <br>
                            In order to find the best foundations on the market, including for mature skin, Good Housekeeping Institute Beauty Lab scientists recruited professional makeup artist evaluators to test and rate label-masked formulas from drugstore to high-end. They are judged on attributes that include dispensing, texture, application (spreadability, blendability, buildability), and coverage look and feel. Beauty Lab pros quantified 919 data points in the most recent test to zero in on the winners. Before you get shopping, our scientists and top makeup artists bring you the ultimate guide to the best foundations for mature skin:
                            <br>
                            Look for lightweight formulas: A hydrating or satin-finish liquid foundation is your best choice, especially as hormone levels dip and your skin gets drier. “Choose a water-based formula that has hydrating ingredients," like moisturizing glycerin or hyaluronic acid, advises Erica Whelan, a makeup artist in New York City and Los Angeles. "Foundations that have sheer coverage and a dewy luminous finish work best with women who are concerned about lines and wrinkles." Thicker, matte foundations are usually made to provide fuller coverage, which means they're packed with pigment that can eventually get cakey and "settle into fine lines and wrinkles, causing them to look more pronounced," Whelan says.
                            <br>
                            Apply with a damp makeup sponge: This will leave skin glowing and dewy, plus help you avoid streaky application. Less is more: start with a small amount and blend into skin thoroughly, smoothing the foundation over your entire face, including under your eyes, on the eyelids and brow bones, along both sides of your jawline, and onto your neck.
                         </p>
                        </div>
                      </article>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-pic-u">Reactivate</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        <!-- Modal -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a>e-Beauty</a></h1>
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a th:href="@{/expert_profile}">My Profile</a></li>
            <li><a  th:href="@{/expert_consultings}">My consultings</a></li>
            <li><a class="active" th:href="@{/expert_main}">My Tutorials</a></li>
             <li><a><form th:action="@{/logout}" method="post"> 
        	<input type="submit" value="Log Out" /> 
		</form></a></li> 
		</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-in">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-color: blueviolet;">
        <div class="container">
          <h2>Expert's Area! Welcome, <b>[[${#request.userPrincipal.principal.fullName}]]</b></h2>
        </div>
      </div><!-- End Breadcrumbs -->


     <!-- ======= Blog Section ======= -->
     <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row row-tut col-lg-12">

          <div class="col-lg-8 entries tut-left">

            <article class="entry">

              <div class="entry-img">
                <img th:src="@{/img/mascara_lashes.jpeg}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                23 Mascaras We Love for Lash Length and Volume
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><img th:src="@{/img/clock.svg}"> <time datetime="2020-01-01">June 1, 2021</time></li>
                  <li class="d-flex align-items-center"><img th:src="@{/img/bookmark-check.svg}"> Makeup</li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                    When it comes to choosing the best mascara for your lashes, there are many different factors to keep in mind: 
                    Will the mascara formula or bristles irritate sensitive eyes, smudge, flake, or clump? Is the mascara volumizing, 
                    does it lengthen, or claim to do both? Is it waterproof? There are a ton of options out there that claim to volumize 
                    and create the look of falsies sans fake lashes, but the best mascara will add length and volume without sacrificing your lashes’ health.
                 </p>
                 <button type="button" class="btn btn-primary btn-pic-u" data-bs-toggle="modal" data-bs-target="#tut1Modal">
                    Details
                </button>
              </div>

               </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img th:src="@{/img/base-makeup.jpg}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                14 Best Base Makeup Products for Your Brightest Complexion
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><img th:src="@{/img/clock.svg}"> <time datetime="2020-01-01">July 1, 2021</time></li>
                  <li class="d-flex align-items-center"><img th:src="@{/img/bookmark-check.svg}"> Makeup</li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                    Whether you’re glamming up for a quick Zoom or to actually venture back out into the world, it all starts with finding the best full-coverage makeup products for your skin. These are the products you’ll rely on to freshen up dull skin, blur and mask hyperpigmentation, and prep for creative makeup looks—without exacerbating acne, dryness, or sensitivity.
                </p>
                <button type="button" class="btn btn-primary btn-pic-u" data-bs-toggle="modal" data-bs-target="#tut2Modal">
                    Details
                </button>
              </div>

            </article><!-- End blog entry -->      

         </div><!-- End blog entries list -->

          <!-- Search-->
          <div class="col-lg-4 tut-right">

              <h3 class="sidebar-title">My Tutorials</h3>
              <div class="sidebar-item categories">
                <details class="details-example">
                    <summary>Drafts <span>(1)</span></summary>
                    <ul>
                        <li><a href="" data-bs-toggle="modal" data-bs-target="#draftModal">The Ultimate Step-By-Step Tutorial for Perfect Face Makeup Application</a></li>
                    </ul>
                </details>
                <details class="details-example">
                    <summary>Inactivate <span>(2)</span></summary>
                    <ul>
                        <li><a href="" data-bs-toggle="modal" data-bs-target="#inactive1Modal">How to Apply Makeup like a Pro</a></li>
                        <li><a href="" data-bs-toggle="modal" data-bs-target="#inactive2Modal">17 Best Foundations for Mature Skin</a></li>
                    </ul>
                </details>
              </div><!-- End sidebar categories-->

              <button type="button" class="btn btn-primary btn-pic-u" data-bs-toggle="modal" data-bs-target="#newTutModal">
                Create new
            </button>

             

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
    







  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

        <div class="footer1">
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><img th:src="@{/img/chevronright.png}"> <a th:href="@{/contact_ep}">Contact</a></li>
              <li><img th:src="@{/img/chevronright.png}"><a th:href="@{/terms}" target="_blank">Terms of service</a></li>
              </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Receive tutorials and updates weekly!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
    

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>eBeauty</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><img th:src="@{/img/facebook.png}"></a>
        <a href="#" class="instagram"><img th:src="@{/img/instalogo.png}"></a>
        <a href="#" class="linkedin"><img th:src="@{/img/linkedinlogo.png}"></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><img th:src="@{/img/arrow.png}"></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/js/aos.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/validate.js}"></script>
  <script th:src="@{/js/purecounter.js}"></script>
  <script th:src="@{/js/swiper-bundle.min.js}"></script>

  <!-- Template JS File -->
  <script th:src="@{/js/script_user.js}"></script>

</body>

</html>