
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>e-Beauty Expert</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/elogo.PNG}"  />
        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
            <link th:href="@{/vendor/animate.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/aos.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/vendor/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/remixicon.css}" rel="stylesheet">
        <link th:href="@{/vendor/swiper-bundle.min.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/css/expert_main.css}" rel="stylesheet">


    </head>

<body>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit My Profile</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Facebook</label>
              <input type="text" class="form-control" id="face-link">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Instagram</label>
                <input type="text" class="form-control" id="insta-link">
              </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">About Me</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
            <div class="form-group">
                <br>
            <button class="btn btn-primary btn-pic-u">Update Picture</button>
            <button class="btn btn-outline-primary btn-pic-r">Remove Picture</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-pic-u">Save</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit My Information</h5>
        </div>
        <div class="modal-body">
           <hr>
            <div class="row mb-3">
              <div class="col-sm-3">
                  <h6 class="mb-0">Password</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <input type="password" class="form-control" placeholder="Insert new password">
                  <input type="password" class="form-control" placeholder="Repeat new password">
              </div>
          </div>
<hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <input type="number" class="form-control" placeholder="10 digits" min="0" max="9">
              </div>
            </div>
<hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Gender</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                      <select name="gender" id="gender">
                          <option value="female">Female</option>
                          <option value="male">Male</option>
                          <option value="no-gender">Rather not say</option>
                      </select>
              </div>
            </div>
               <hr>       
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="Insert street name, unit number, suite and city" >  
              </div>
            </div>
<hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Zip Code</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" placeholder="6 digits, alphanumeric">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Province</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <select>
                      <option value="AB">Alberta</option>
                      <option value="BC">British Columbia</option>
                      <option value="MB">Manitoba</option>
                      <option value="NB">New Brunswick</option>
                      <option value="NL">Newfoundland and Labrador</option>
                      <option value="NS">Nova Scotia</option>
                      <option value="ON">Ontario</option>
                      <option value="PE">Prince Edward Island</option>
                      <option value="QC">Quebec</option>
                      <option value="SK">Saskatchewan</option>
                      <option value="NT">Northwest Territories</option>
                      <option value="NU">Nunavut</option>
                      <option value="YT">Yukon</option>
                  </select>
              </div>
            </div>
<hr>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-pic-u">Save</button>
        </div>
      </div>
    </div>
  </div>

                     
                      <!--end of modal-->
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a>e-Beauty</a></h1>
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" th:href="@{/expert_profile_free}">My Profile</a></li>
            <li><a  th:href="@{/expert_consulting_free}">My consultings</a></li>
            
             <li><a><form th:action="@{/logout}" method="post"> 
        	<input type="submit" value="Log Out" /> 
		</form></a></li> 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-in">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-color: blueviolet;">
      <div class="container" >
        <h2>Expert's Area</h2>
        
      </div>
    </div><!-- End Breadcrumbs -->
<section class="profile-body">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-primary btn-pic-u" data-bs-toggle="modal" data-bs-target="#myModal">
                        Edit
                    </button>
                    

              <div class="d-flex flex-column align-items-center text-center">
                <img th:src="@{/img/avatar.png}" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>Mary Jane</h4>
                    
                  <p>I have over 10 years of experience with different types of hair.
                    I can help you decide the best haircut for you and give you tips on great and affordable products 
                    available in local stores. 
                  </p>

                    <a th:href="@{https://facebook.com/#}" target="__blank"><img th:src="@{/img/facebook.png}"></a>
                    <a th:href="@{https://instagram.com/#}" target="__blank"><img th:src="@{/img/instalogo.png}"></a>
                    

                </div>

              </div>
             </div>
          </div>
          <div class="card mt-3">
            <div class="margin-profile">
                <button type="button" class="btn btn-primary btn-pic-u" >
                    Save
                </button>
            </div>
            
            <p class="list-group list-group-flush">

                <strong> My Categories</strong>

            </p>
              <div >  
                <div class="form-check margin-profile">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Dressing Advisory
                    </label>
                  </div>
                  <div class="form-check margin-profile">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Hair Style
                    </label>
                  </div> 
                  <div class="form-check margin-profile">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Makeup
                    </label>
                  </div> 
                  <div class="form-check margin-profile">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Skin Care
                    </label>
                  </div>   
              </div> 
            <br>

        
        </div>

          <div class="card mt-3">
            <div class="margin-profile">
                <button type="button" class="btn btn-primary btn-pic-u" >
                    Save
                </button>
            </div>
            <p class="list-group list-group-flush">
                <br><strong> <span >My Account</strong>
                    <div class="form-check margin-profile">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Free
                        </label>
                      </div>
                      <div class="form-check margin-profile">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Premium
                        </label>
                      </div>
            <br>

          </div>

        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary btn-pic-u " style="float:right" data-bs-toggle="modal" data-bs-target="#infoModal">
                        Edit
                    </button>
                    
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  mjane
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  ***********
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Firt name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Mary
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Last name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Jane
                </div>
              </div>
              <hr>           
  
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  maryjane@gmail.com
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  (239) 816-9029
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Gender</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Female
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date of Birth</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  02-10-2000
                </div>
              </div>
              

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  201-3000 Queen Avenue, New Westminster
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Zip Code</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  V3L 1R5
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Province</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  British Columbia
                </div>
              </div>
              
              
            </div>
            
          </div>





        </div>
      </div>

    </section>



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

        <div class="footer1">
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><img th:src="@{/img/chevronright.png}"> <a th:href="@{/contact_ef}">Contact</a></li>
              <li><img th:src="@{/img/chevronright.png}"><a th:href="@{/terms}" target="_blank">Terms of service</a></li>
              </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Receive tutorials and updates weekly!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
    

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>eBeauty</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
       <a href="#" class="facebook"><img th:src="@{/img/facebook.png}"></a>
        <a href="#" class="instagram"><img th:src="@{/img/instalogo.png}"></a>
        <a href="#" class="linkedin"><img th:src="@{/img/linkedinlogo.png}"></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><img th:src="@{/img/arrow.png}"></a>

        <!-- Vendor JS Files -->
   <script type="text/javascript" th:src="@{/js/aos.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/validate.js}"></script>
  <script type="text/javascript" th:src="@{/js/purecounter.js}"></script>
  <script type="text/javascript" th:src="@{/js/swiper-bundle.min.js}"></script>

  <!-- Template JS File -->
  <script type="text/javascript" th:src="@{/js/script_user.js}"></script>
</body>

</html>