
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>e-Beauty Registration Succeeded</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/elogo.PNG}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles_signup.css}">
</head>
<body>
    <div class="container text-center">
    	<div>
    		<h3>You have signed up successfully !</h3>
    		<h4><a th:href="@{/login}">Click here to Login !</a></h4>
    	</div>
       
    </div>

</body>
</html>
