
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>e-Beauty Sign Up</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/elogo.PNG}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles_signup.css}">
    <script defer>
    
	    var message = "[[${email_error_msg}]]";
	    if(message !== ""){
			alert(message);
		}
	    
	   
	</script>
</head>
<body class="signup_client">
    <div class="registration-form">
        <form th:action="@{/process_register}" method="post"
        		th:object="${user}" >
            <h3>Register as a User</h3>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Full Name"  th:field="*{fullName}" required 
                	minlength="4" maxlength="20"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Password" th:field="*{password}" required 
                	minlength="6" maxlength="20"/>
            </div>
            <div class="form-group">
                <input type="email" class="form-control item" id="email" placeholder="Email" th:field="*{email}" required />
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Create Account</button>
            </div>
        </form>
    </div>

</body>
</html>
