<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>e-Beauty</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/elogo.PNG}"  />
        <!-- Favicons -->
        <link th:href="@{assets/img/favicon.png}" rel="icon">
        <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link th:href="@{/vendor/animate.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/aos.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/vendor/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/remixicon.css}" rel="stylesheet">
        <link th:href="@{/vendor/swiper-bundle.min.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/css/user_main.css}" rel="stylesheet">
        


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">e-Beauty</a></h1>
      
     </div>
  </header><!-- End Header -->

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Terms of use</h2>
        
      </div>
    </div><!-- End Breadcrumbs -->

 <!-- ======= Terms Section ======= -->

 <section>
  
    <div class="terms-use">
        <span ></span><p style="text-align: center;"><strong>TERMS AND CONDITIONS OF E-BEAUTY.COM</strong><br>

<p><br><strong>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEBSITE.</strong></p>
<p><br>The following Terms and Conditions govern and apply to your use of or reliance upon this website maintained by 
    <span >eBeauty</span> (the "Website").</p>
<p>Your access or use of the Website indicates that you have read, understand and agree to be bound by these Terms and Conditions and any other applicable laws, statutes and/or regulations. We may change these Terms and Conditions at any time without notice, effective upon its posting to the Website. Your continued use of the Website will be considered your acceptance to the revised Terms and Conditions. </p>
<p><br><strong>1. AGE RESTRICTION</strong></p>
<p>You must be at least eighteen (<span >18</span>) years of age to use this Website or any services contained herein. Your access or use of this Website indicates your representation that you are at least eighteen (<span >18</span>) years of age. We assume no responsibility or liability for any misrepresentation of your age.</p>
<p><br><strong>2. INTELLECTUAL PROPERTY</strong></p>
<p>All intellectual property on the Website (except for User Generated Content, as defined below) is owned by us or our licencors, which includes materials protected by copyright, trademark, or patent laws. All trademarks, service marks and trade names are owned, registered and/or licensed by us. All content on the Website (except for User Generated Content, as defined below), including but not limited to text, software, code, designs, graphics, photos, sounds, music, videos, applications, interactive features and all other content is a collective work under Canadian and other copyright laws and is the proprietary property of the Company; All rights reserved.</p>
<p><br><strong>3. USE OF COMPANY MATERIALS</strong></p>
<p>We may provide you with certain information as a result of your use of the Website including, but not limited to, documentation, data, or information developed by us, and other materials which may assist in the use of the Website or Services ("Company Materials"). The Company Materials may not be used for any other purpose than the use of this Website and the services offered on the Website. Nothing in these Terms of Use may be interpreted as granting any licence of intellectual property rights to you. </p>
<p><br><strong>4. USER GENERATED CONTENT</strong></p>
<p>"User Generated Content" is communications, materials, information, data, opinions, photos, profiles, messages, notes, website links, text information, music, videos, designs, graphics, sounds, and any other content that you and/or other Website users post or otherwise make available on or through the Website, except to the extent the content is owned by us.</p>
<p><br><strong>5. ACCOUNT AND ACCOUNT USE</strong></p>
<p>If your use of the Website requires an account identifying you as a user of the Website (an "Account"):</p>
<p style="padding-left: 30px;">a) you are solely responsible for your Account and the maintenance, confidentiality and security of your Account and all passwords related to your Account, and any and all activities that occur under your Account, including all activities of any persons who gain access to your Account with or without your permission;</p>
<p style="padding-left: 30px;">b) you agree to immediately notify us of any unauthorized use of your Account, any service provided through your Account or any password related to your Account, or any other breach of security with respect to your Account or any service provided through it, and you agree to provide assistance to us, as requested, to stop or remedy any breach of security related to your Account, and</p>
<p style="padding-left: 30px;">c) you agree to provide true, current, accurate and complete customer information as requested by us from time to time and you agree to promptly notify us of any changes to this information as required to keep such information held by us current, complete and accurate. </p>
<p><br><strong>6. PAYMENT</strong></p>
<p>When you make a purchase on the Website, you agree to provide a valid instrument to make a payment. Pay attention to the details of the transaction, as your total price may include taxes, fees, and shipping costs, all of which you are responsible for.</p>
<p>When you provide a payment instrument to us, you confirm that you are permitted to use that payment instrument. When you make a payment, you authorize us (and our designated payment processor) to charge the full amount of the payment instrument you designate for the transaction. You also authorize us to collect and store that funding instrument, along with other related transaction information.</p>
<p>If you pay by credit or debit card, we may obtain a preapproval from the issuer of the card for an amount as high as the full price. If you cancel a transaction before completion, this pre-approval may result in those funds not otherwise being immediately available to you.</p>
<p>We may cancel any transaction if we believe the transaction violates these Terms, or if we believe in doing so may prevent financial loss.</p>
<p>In order to prevent financial loss to you or to us, we may contact your funding instrument issuer, law enforcement, or affected third parties (including other users) and share details of any payments you are associated with, if we believe doing so may prevent financial loss or a violation of law.</p>
<p><br><strong>7. SALE OF GOODS AND SERVICES</strong></p>
<p>We may sell goods or services or allow third parties to sell goods or services on the Website. We undertake to be as accurate as possible with all information regarding the goods and services, including product descriptions and images. However, we do not guarantee the accuracy or reliability of any product information and you acknowledge and agree that you purchase such products at your own risk.  </p>
<p><br><strong>8. AFFILIATE MARKETING &amp; ADVERTISING</strong></p>
<p>We, through the Website and its services, may engage in affiliate marketing whereby we receive a commission on or percentage of the sale of goods or services on or through the Website. We may also accept advertising and sponsorships from commercial businesses or receive other forms of advertising compensation.</p>
<p><br><strong>9. ACCEPTABLE USE</strong></p>
<p>You agree not to use the Website for any unlawful purpose, or any purpose prohibited under this clause. You agree not to use the Website in any way that could damage the Website, the services or the general business of <span >eBeauty</span>.<br><br>You further agree not to use and/or access the Website:</p>
<p style="padding-left: 30px;">a) To harass, abuse, or threaten others or otherwise violate any person's legal rights;</p>
<p style="padding-left: 30px;">b) To violate any intellectual property rights of us or any third party;</p>
<p style="padding-left: 30px;">c) To upload or otherwise disseminate any computer viruses or other software that may damage the property of another;</p>
<p style="padding-left: 30px;">d) To perpetrate any fraud;</p>
<p style="padding-left: 30px;">e) To engage in or create any unlawful gambling, sweepstakes, or pyramid scheme;</p>
<p style="padding-left: 30px;">f) To publish or distribute any obscene or defamatory material;</p>
<p style="padding-left: 30px;">g) To publish or distribute any material that incites violence, hate or discrimination towards any group;</p>
<p style="padding-left: 30px;">h) To unlawfully gather information about others.</p>
<p><br><strong>10. PROTECTION OF PRIVACY</strong></p>
<p>Through your use of the Website, you may provide us with certain information. By using the Website, you authorize us to use your information in Canada and any other country where We may operate.</p>
<p>When you register for an account, you provide us with a valid email address and may provide us with additional information, such as your name and/or billing information. Depending on how you use our Website, we may also receive information from external applications you use to access our Website, or we may receive information through various web technologies, such as cookies, log files, clear gifs, web beacons or others.</p>
<p>We use the information gathered from you to ensure your continued good experience on our website, including through email communication. We may also track certain of the passive information received to improve our marketing and analytics, and for this, we may work with third-party providers.</p>
<p>If you would like to disable our access to any passive information we receive from the use of various technologies, you may choose to disable cookies in your web browser. Please be aware that we will still receive information about you that you have provided, such as your email address.  </p>
<p>If you choose to terminate your account, we will store information about you for a reasonable period of time to be determined by us in accordance with applicable federal and provincial laws. After this period, all information about you will be deleted.</p>
<p><br><strong>11. ASSUMPTION OF RISK</strong></p>
<p>The Website is provided for communication purposes only. You acknowledge and agree that any information posted on our Website is not intended to be legal advice, medical advice, or financial advice, and no fiduciary relationship has been created between you and <span >eBeauty</span>. You further agree that your purchase of any of the products on the Website is at your own risk. We do not assume responsibility or liability for any advice or other information given on the Website.</p>
<p><br><strong>12. REVERSE ENGINEERING &amp; SECURITY</strong></p>
<p>You may not undertake any of the following actions:</p>
<p>a) Reverse engineer, or attempt to reverse engineer or disassemble any code or software from or on the Website;</p>
<p>b) Violate the security of the Website through any unauthorized access, circumvention of encryption or other security tools, data mining or interference to any host, user or network.</p>
<p><br><strong>13. DATA LOSS</strong></p>
<p>We are not responsible for the security of your Account or Content. Your use of the Website is at your own risk.</p>
<p><br><strong>14. INDEMNIFICATION</strong></p>
<p>You defend and indemnify <span >eBeauty</span> and any of its affiliates and hold us harmless against any and all legal claims and demands, including reasonable attorney's fees, which may arise from or relate to your use or misuse of the Website, your breach of these Terms and Conditions, or your conduct or actions. We will select our own legal counsel and may participate in our own defense, if we wish to so.</p>
<p><br><strong>15. SERVICE INTERRUPTIONS</strong></p>
<p>We may need to interrupt your access to the Website to perform maintenance or emergency services on a scheduled or unscheduled basis. You agree that your access to the Website may be affected by unanticipated or unscheduled downtime, for any reason, but that the we will have no liability for any damage or loss caused as a result of such downtime.</p>
<p><br><strong>16. TERMINATION OF ACCOUNT</strong></p>
<p>We may, in our sole discretion, suspend, restrict or terminate your Account and your use of the Website, effective at any time, without notice to you, for any reason, including because the operation or efficiency of the Website or our or any third party's equipment or network is impaired by your use of the Website, any amount is past due from you to us, we have received a third party complaint which relates to your use or misuse of the Website, or you have been or are in breach of any term or condition of these Terms and Conditions. We will have no responsibility to notify any third party, including any third-party providers of services, merchandise or information, of any suspension, restriction or termination of your access to the Website.</p>
<p><br><strong>17. NO WARRANTIES</strong></p>
<p>Your use of the Website is at your sole and exclusive risk and any services provided by us are on an "as is" basis. We disclaim any and all express or implied warranties of any kind, including, but not limited to the implied warranty of fitness for a particular purpose and the implied warranty of merchantability. We make no warranties that the Website will meet your needs or that the Website will be uninterrupted, error-free, or secure. We also make no warranties as to the reliability or accuracy of any information on the Website or obtained through the Services. Any damage that may occur to you, through your computer system, or as a result of loss of your data from your use of the Website is your sole responsibility and we are not liable for any such damage or loss.</p>
<p><br><strong>18. PRIVACY</strong></p>
<p>Internet communications are subject to interception, loss or alteration and, as consequences, you acknowledge that information or data you provide by electronic means by accessing or using this Website are not confidential or exclusive, except to the extent required by the applicable laws, and that communications by email may be intercepted, altered or lost. </p>
<p>For more information, please refer to our Privacy Policy, available on the Website.</p>
<p><br><strong>19. LIMITATION ON LIABILITY</strong></p>
<p>We are not liable for any damages that may occur to you as a result of your use of the Website, to the fullest extent permitted by law. The maximum liability of <span >eBeauty</span> arising from your use of the Website is limited to the greater of one hundred ($100) Canadian Dollars or the amount you paid to <span >eBeauty</span> in the last six (6) months. This applies to any and all claims by you, including, but not limited to, lost profits or revenues, consequential or punitive damages, negligence, strict liability, fraud, or torts of any kind.</p>					</div>
</section>

  <!-- End Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

        <div class="footer1">

        </div>
        </div>
      </div>
    </div>
    

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>eBeauty</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><img th:src="@{/img/facebook.png}"></a>
        <a href="#" class="instagram"><img th:src="@{/img/instalogo.png}"></a>
        <a href="#" class="linkedin"><img th:src="@{/img/linkedinlogo.png}"></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><img th:src="@{/img/arrow.png}"></a>

  <!-- Vendor JS Files -->
  <script type="text/javascript" th:src="@{/js/aos.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/validate.js}"></script>
  <script type="text/javascript" th:src="@{/js/purecounter.js}"></script>
  <script type="text/javascript" th:src="@{/js/swiper-bundle.min.js}"></script>

  <!-- Template JS File -->
  <script type="text/javascript" th:src="@{/js/script_user.js}"></script>

</body>

</html>